* {
  font-family: 'Roboto';
}

.skills-list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-bottom: 30px;
}

.skills-items {
  display: flex;
  align-items: center;
}

.skills-img {
  width: 50px;
  margin-right: 12px;
}

.skill-name {
  color: #ffffff;
  font-size: 15px;
}
